<div class="container">
<h4>Cтворення події</h4>
<form [formGroup]="eventForm">
    <div class="form-group">
      <label for="title">Назва:</label>
      <input type="text" id="title" class="form-control" formControlName="title" required>
    </div>
    
    <div class="form-row">
      <label for="subjects">Предмет:</label>
      <select id="subjects" class="form-control" formControlName="subjects">
        <option value="0">-</option>
        <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
      </select>
    </div>
    
    <div class="form-row">
      <label for="groups">Групи:</label>
      <select id="groups" class="form-control" formControlName="groups" multiple>
        <option value="0">-</option>
        <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
      </select>
      <label for="attendees">Запрошені:</label>
      <select id="attendees" class="form-control" formControlName="attendees" multiple> 
        <option *ngFor="let attendee of attendees" [value]="attendee.id">{{ attendee.lastName+" "+attendee.firstName }}</option>
      </select>
    </div>
    <div class="form-row">
      <label for="startTime">Початок:</label>
      <input type="datetime-local" class="form-control time" id="startTime" formControlName="startTime">
      
      <label for="endTime">Кінець:</label>
      <input type="datetime-local" class="form-control time" id="endTime" formControlName="endTime">
    </div>


  <div class="form-row">
    <div class="form-check">
      <label for="eventMode">Проведення події:</label>
      <div>
        <input type="radio" class="form-check-input" id="eventMode1" value="online" formControlName="eventMode">
        <label class="form-check-label" for="eventMode1">Онлайн</label>
      </div>
      <div>
        <input type="radio" class="form-check-input" id="eventMode2" value="offline" formControlName="eventMode">
        <label class="form-check-label" for="eventMode2">Офлайн</label>
      </div>
    </div>
    <div class="form-row" *ngIf="eventForm.get('eventMode')!.value === 'offline'">
      <label for="roomNumber">Номер аудиторії:</label>
      <input type="text" class="form-control" id="roomNumber" formControlName="roomNumber">
    </div>
  </div>
  
    <button class="btn btn-primary" [disabled]="eventForm.invalid" (click)="createEvent();">Створити подію</button>
    <button class="btn btn-primary" routerLink="..">Назад до списку</button>
  </form>
</div>
