<div class="container">
<p>
  <button class="btn btn-primary" routerLink="new">Створити подію</button>
  <button *ngIf="userRole == 'TEACHER'" class="btn btn-primary" routerLink="newNote">Групове створення нотаток</button>
  <button *ngIf="userRole == 'ADMIN'" class="btn btn-primary" routerLink="report" >Звіт за тиждень</button>
</p>
<ul class="nav nav-tabs"> <!--тільки для викладача зробити-->
  <li class="nav-item" >
    <a class="nav-link" (click)="changeTab('tab1')">
      {{"Мій розклад"}}
    </a>
  </li>
    <li class="nav-item" >
      <a class="nav-link" (click)="changeTab('tab2')">
        {{"Мої події"}}
      </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" (click)="changeTab('tab3')">
          {{"Події, на які запросили"}}
        </a>
    </li>

</ul>
<div class="table-container" *ngIf="activeTab === 'tab1'">
  
  <table>
    <tr><th>Предмет</th><th>Група</th>
      <th>День тижня</th><th>Початок та кінець події</th>
      <th>Тип події</th><th>Номер аудиторії</th><th></th></tr>
      <tr *ngFor="let event of schedule; index as ind">{{setValues(event)}}
      <td>{{subjectName}} </td>
      <td>{{groupName}} </td>
      <td> {{dayOfWeek}}</td>
      <td>{{time}} </td><td>{{typeOfEvent}} </td>
      <td>{{auditory}} </td><td>
        <button class="btn btn-primary" [routerLink]="['edit/'+event.id]" [disabled]="isDisabled(event)">Змінити</button>
        <button *ngIf="userRole == 'TEACHER' || userRole == 'ADMIN'" class="btn btn-primary" [routerLink]="['import/'+event.id]">Імпорт в GC</button>
        
        <ng-template #confirmDeleteModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Видалення</h4>
          </div>
          <div class="modal-body">
            Ви дійсно хочете видалити цю подію?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cancelModal()">Відміна</button>
            <button type="submit" class="btn btn-danger" (click)="onDeleteConfirmed()">Видалити</button>
          </div>
        </ng-template>
      </td>
    </tr>
</table>
</div>


<!-- <div class="table-container" *ngIf="activeTab === 'tab2'">
  <table>
    <tr><th>Предмет/назва</th><th>Група</th>
      <th>День тижня</th><th>Початок та кінець події</th>
      <th>Тип події</th><th>Номер аудиторії</th><th>Запрошені</th><th></th></tr>
      <tr *ngFor="let event of schedule; index as ind">{{setValues(event)}}
      <td>{{subjectName}} </td>
      <td>{{groupName}} </td>
      <td> {{dayOfWeek}}</td>
      <td>{{time}} </td><td>{{typeOfEvent}} </td>
      <td>{{auditory}} </td><td>{{attendees}} </td><td>
        <button class="btn btn-primary" [routerLink]="['edit/'+event.id]" [disabled]="isDisabled(event)">Змінити</button>
        <button *ngIf="userRole == 'TEACHER'" class="btn btn-primary" [routerLink]="['import/'+event.id]">Імпорт в GC</button>
        <button *ngIf="isCustomEvent(event)" class="btn btn-primary" (click)="openConfirmDeleteModal(event,ind)">
          Видалити
        </button>
        <ng-template #confirmDeleteModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Видалення</h4>
          </div>
          <div class="modal-body">
            Ви дійсно хочете видалити цю подію?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cancelModal()">Відміна</button>
            <button type="submit" class="btn btn-danger" (click)="onDeleteConfirmed()">Видалити</button>
          </div>
        </ng-template>
      </td>
    </tr>
</table>
</div>

<div class="table-container" *ngIf="activeTab === 'tab3'">
  <table>
    <tr><th>Предмет/назва</th><th>Відповідальний за подію</th>
      <th>День тижня</th><th>Початок та кінець події</th>
      <th>Тип події</th><th>Номер аудиторії</th><th>Запрошені</th></tr>
      <tr *ngFor="let event of schedule">{{setValues(event)}}
      <td>{{subjectName}} </td><td>{{creatorName}}</td><td> {{dayOfWeek}}</td>
      <td>{{time}} </td><td>{{typeOfEvent}} </td>
      <td>{{auditory}} </td><td>{{attendees}} </td>
    </tr>
</table>
</div> -->
</div>


