.container{
  margin-top:3%;
}
table{
  margin-left: auto;
  margin-right:auto;
  margin-bottom:80px;
  border:2px solid black;
}
.weekday{
  height: 100px;
  font-weight: bold;
  font-kerning: none;
  font-size: 20px;
}
.weekorder {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
h3{
  margin-left:40px;
  margin-top: 30px;
}
td,th{
  border:2px solid black;
  text-align: center;
  vertical-align: middle;
}
td{
  margin:30px;
  padding: 5px;
  width: 300px;
  height: 50px;
  max-width: 300px;
  max-height: 250px;
}
th{
  height: 20px;
  min-width: 50px;
}
td span{
  display: inline-block;
  transform: rotate(270deg);
  transform-origin: center;
  white-space: nowrap;
}
.container {
  max-width: 1200px; 
  margin: 3% auto; 
}
caption {
  padding: 10px;
  caption-side: top;
  text-align: center;
  font-size: 24px;
}
.table-container {
  height: 575px; 
  overflow-y: auto;
  margin: 50px auto; 
}
.table-caption {
  position:relative;
  text-align: center;
  font-weight: bold;
  margin: 10px auto;
}
.return{
  margin-bottom: 120px;
  margin-left: 30px;
}
.create{
  margin-left: 30px;
  margin-top: 20px;
}
button{
  padding: 5px;
  margin: 5px;
  background-color: #123456 !important;
}
  
  .btn-danger {
    background-color: red;
    border-color: darkred;
  }
  
  .btn-primary {
    background-color: blue;
    border-color: darkblue;
  }