<div class="form-container">
    <h2>Звіт за тиждень</h2>
    <div class="form-content">
      <label>
        <input type="checkbox" [(ngModel)]="checkbox1" />
        Включити місце проведення в звіт
      </label>
      <br />
      <label>
        <input type="checkbox" [(ngModel)]="checkbox2" />
        Включити тему в звіт
      </label>
    </div>
    <div class="form-actions">
      <button class="btn btn-success" (click)="sendRequest()">Згенерувати звіт</button>
      <button class="btn btn-primary" routerLink="..">Назад до списку</button>
    </div>
    <div class="form-actions report">
      <button class="btn btn-primary" [disabled]="!isReportReady" (click)="openReport()">Відкрити звіт</button>
    </div>
  </div>
