.form-container {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
  }
  
  .form-content {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  .report{
    padding-top: 5px;
    justify-content: center;
  }