<div class="container">
    <h4 class="">Автоматичне оновлення з сайту</h4>
    <div class="form-row">
        <button class="btn btn-primary col-sm" disabled hidden="true" (click)="startTimer(); writeToDB(); ">Імпортувати інформацію через Selenium в БД</button>
        <button class="btn btn-primary col-sm" disabled hidden="true" (click)="startTimer(); writeGroupToDB();">Оновити список груп через Selenium</button>
        <button class="btn btn-primary col-sm" (click)="writeTeachersToDB();">Імпортувати викладачів з JSON відповіді в БД</button>
        <button class="btn btn-primary col-sm" (click)="writeGroupsToDB();">Імпортувати групи з JSON відповіді в БД</button>
        <button class="btn btn-primary col-sm" (click)="writeScheduleToDB();">Імпортувати розклад з JSON відповіді в БД</button>
        <button class="btn btn-primary col-sm" disabled hidden="true">Імпортувати інформацію з JSON відповіді в БД</button>       
    </div>
<div class="top-right-div" *ngIf="isTimerRunning$ | async">Витрачено часу: {{ elapsedTime$ | async }}</div>
</div>
<div class="container">
    <h4 class="">Доступ до інформації з бази даних</h4>
    <div class="form-row ">
        <button class="btn btn-primary col-sm" routerLink="users">Користувачі</button>
        <button class="btn btn-primary col-sm" routerLink="groups">Групи</button>
        <button class="btn btn-primary col-sm" routerLink="subjects">Предмети</button>
    </div>
    <div class="form-row">
        <button class="btn btn-primary col-sm" routerLink="teachers">Викладачі</button>
        <button class="btn btn-primary col-sm" routerLink="students">Студенти</button>
        <button class="btn btn-primary col-sm" routerLink="schedule">Розклад</button>
        <button class="btn btn-primary col-sm" routerLink="notings">Нотатки</button>
    </div>
</div>
