<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}" (mouseenter)="openSidebar()" (mouseleave)="closeSidebar()">
    <button class="navbar-toggler"
            width="48"
              height="48">
  </button>
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <button class="btn nav-link" routerLink="/dashboard"> Домашня сторінка </button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link" routerLink="/events"> Розклад </button>
      </li>
      <div *ngIf="userRole() == 'STUDENT'">
      <li class="nav-item">
        <button class="btn nav-link" routerLink="/note"> Нотатки </button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link" routerLink="/event-page"> Особливі події </button>
      </li>
      </div>
      <li class="nav-item" *ngIf="userRole() == 'TEACHER' || userRole() == 'ADMIN'">
        <button class="btn nav-link" routerLink="/event-page"> Керування розкладом та подіями </button>
      </li>
      <li class="nav-item">
        <button *ngIf="!userRole(); else elseBlock" class="btn nav-link" (click)="login()"> Login </button>
        <ng-template #elseBlock><button class="btn nav-link" (click)="logOut()"> Logout </button></ng-template>
      </li>
      <li *ngIf='userRole() == "ADMIN"' class="nav-item">
        <button class="btn nav-link" routerLink="/admin"> Admin page </button>
      </li>
    </ul>
  </div>