.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 250px;
    height: 100%;
    background-color: #18006e;
    padding: 80px 30px;
    transition: all 0.3s;
    z-index: 6;
  }

  .navbar-toggler {
    width: 48px; 
    height: 48px;
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
    border: none !important;
    background-image: url("http://s1.iconbird.com/ico/0712/basicset2png/w48h481341505861right48.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .sidebar button {
    padding-right: 5px;
    padding-left: 5px;
    display: block;
    color: #f0f0f0;
    border: 1px solid #4e4427;
    margin-bottom: 40px;
    
  }
  
  .sidebar-open {
    left: 0;
  }

  .nav-link{
    width: 150px;
  }

  .nav-link:hover{
    background-color:#4e4427;
    transition: 0.7s;
  }